{% extends cms_backend_template %}

{% block title %}{{ parent() }} :: {{ 'rocket.cms.content.title.show' | trans }}{% endblock %}

{% block content %}
    <div class="box">
        <div class="box-header">
            <h2><i class="halflings-icon plus"></i><span class="break"></span>{{ 'rocket.cms.content.title.show' | trans }}</h2>
        </div>
        <div class="box-content">
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <th>{{ 'rocket.cms.content.id' | trans }}</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'rocket.cms.content.name' | trans }}</th>
                        <td>{{ entity.name }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'rocket.cms.content.uri' | trans }}</th>
                        <td>{{ entity.uri }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'rocket.cms.content.require_auth' | trans }}</th>
                        <td>{{ (entity.requireAuth ? 'rocket.cms.global.yes' : 'rocket.cms.global.no') | trans }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'rocket.cms.content.created_at' | trans }}</th>
                        <td>{{ entity.createdAt.format('Y-m-d H:i:s') }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="box">
        <div class="box-header">
            <h2><i class="halflings-icon plus"></i><span class="break"></span>{{ 'rocket.cms.content.title.preview' | trans }}</h2>
        </div>
        <div class="box-content">
            {% if 'PageContent' in entity.cmsType.class %}
                <h2>{{ entity.serializedData.title }}</h2>
                {{ entity.serializedData.content|raw }}
            {% else %}
                {{ serializedData|raw }}
            {% endif %}
        </div>
    </div>

    <a class="btn btn-primary" href="{{ path('rocket_cms_cmscontent_index') }}">{{ 'rocket.cms.global.back' | trans }}</a>
    <a class="btn btn-primary" href="{{ path('rocket_cms_cmscontent_edit', { 'id': entity.id }) }}">{{ 'rocket.cms.global.edit' | trans }}</a>
{% endblock %}
