{% extends cms_backend_template %}

{% block title %}{{ parent() }} :: {{ 'rocket.cms.type.title.show'|trans }}{% endblock %}

{% block content %}
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header">
                <h2><i class="halflings-icon plus"></i><span class="break"></span>{{ 'rocket.cms.type.title.show'|trans }}</h2>
            </div>
            <div class="box-content">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <th>{{ 'rocket.cms.type.id'|trans }}</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'rocket.cms.type.class'|trans }}</th>
                            <td>{{ entity.class }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'rocket.cms.type.created_at'|trans }}</th>
                            <td>{{ entity.createdAt.format('Y-m-d H:i:s') }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="form-actions">
                    <input type="hidden" name="_method" value="DELETE" />
                    <div class="btn-overlay">
                        <a class="btn btn-primary" href="{{ path('rocket_cms_cmstype_index') }}">{{ 'rocket.cms.global.back'|trans }}</a>
                    </div>
                    <div class="btn-overlay">
                        <a class="btn btn-primary" href="{{ path('rocket_cms_cmstype_edit', { 'id': entity.id }) }}">{{ 'rocket.cms.global.edit'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
